@font-face {
	font-family: 'Basteleur';
	src: local('Basteleur Bold'), local('Basteleur-Bold'), url('Basteleur-Bold.woff2') format('woff2'),
		url('Basteleur-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Basteleur';
	src: local('Basteleur Bold'), local('Basteleur-Bold'), url('Basteleur-Bold.woff2') format('woff2'),
		url('Basteleur-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Basteleur Moonlight';
	src: local('Basteleur Moonlight'), local('Basteleur-Moonlight'),
		url('Basteleur-Moonlight.woff2') format('woff2'), url('Basteleur-Moonlight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Basteleur Moonlight';
	src: local('Basteleur Moonlight'), local('Basteleur-Moonlight'),
		url('Basteleur-Moonlight.woff2') format('woff2'), url('Basteleur-Moonlight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
